:root {
  font-family: "Poppins", sans-serif;
  --header-background-color: #e9e5cd;
  --main-background-color: #f4f1ea;
  --header-text-color: #382110;
  --main-text-color: #333333;
  --book-background-color: #ffffff;
  --read-color: #9fff9c;
  --not-read-color: #ff9c9c;
  --change-svg-color-brown: invert(15%) sepia(60%) saturate(250%);
  --change-svg-color-black: invert(20%) sepia(10%) saturate(500%);
  --header-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
  --book-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.16);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-family);
  height: 100vh;
  background-color: var(--main-background-color);
  color: var(--main-text-color);
}

img:hover,
button:hover,
input[type="checkbox"] {
  cursor: pointer;
}

header.navigation {
  background-color: var(--header-background-color);
  color: var(--header-text-color);
}

header .website-logo-container {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

header .website-logo {
  filter: var(--change-svg-color-brown);
  height: 3rem;
}

header .navigation-container {
  padding: 1rem 10rem 1rem 5rem;
  box-shadow: var(--header-box-shadow);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .add-book-button {
  background-color: inherit;
  color: inherit;
  font-size: 1.5rem;
  border: none;
}

header .add-book-button:hover {
  text-decoration: underline;
}

main .library-title {
  text-align: center;
  padding-top: 1rem;
}

main .books-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  gap: 1rem;
  padding: 5rem 20rem;
}

main .book {
  padding: 1rem 1.2rem;
  background-color: var(--book-background-color);
  box-shadow: var(--book-box-shadow);
  border-radius: 1em;

  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

main .button-container {
  display: flex;
  align-items: center;
  gap: 0.25rem;
  height: 3rem;
}

main .have-read-button {
  padding: 1em 2em;
  border: none;
  font-weight: bold;
}

main .read {
  background-color: var(--read-color);
}

main .not-read {
  background-color: var(--not-read-color);
}

main .remove-book-icon {
  height: 2.5rem;
  filter: var(--change-svg-color-black);
}

dialog.add-book-dialog {
  font-size: 1.5rem;
  font-family: inherit;
  background-color: inherit;
  color: inherit;
  margin: auto;
  width: 20%;
  border: none;
  border: none;
  box-shadow: var(--book-box-shadow);
  padding: 2rem 1rem;
  border-radius: 1rem;
}

dialog .close-dialog-container {
  display: flex;
  justify-content: end;
  margin-bottom: 0.5rem;
}

dialog .close-dialog-icon {
  width: 2rem;
}

dialog .dialog-title {
  text-align: center;
  margin-bottom: 1rem;
}

dialog .dialog-inputs {
  font-size: 1.45rem;
  font-weight: 600;
  font-family: inherit;
  width: 100%;
  margin-bottom: 1rem;
  padding: 0.5rem;
}

dialog .dialog-inputs:focus {
  outline: none;
  border: 2px solid var(--header-text-color);
}

dialog .checkbox-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

dialog .book-read-checkbox {
  appearance: none;
  background-color: inherit;
  margin: 0;
  font: inherit;
  color: currentColor;
  width: 1.15em;
  height: 1.15em;
  border: 0.15em solid var(--header-text-color);
  border-radius: 0.15em;
  transform: translateY(-0.075em);
  display: grid;
  place-content: center;
}

/* Styling of the the checkbox from this article: https://moderncss.dev/pure-css-custom-checkbox-style/ */
dialog input[type="checkbox"]::before {
  content: "";
  width: 0.6em;
  height: 0.6em;
  transform: scale(0);
  transition: 120ms transform ease-in-out;
  box-shadow: inset 1em 1em var(--header-text-color);
}

dialog input[type="checkbox"]:checked::before {
  transform: scale(1);
}

dialog .button-container {
  display: flex;
  justify-content: center;
}

dialog .submit-dialog-button {
  margin-top: 1.1rem;
  font-size: 1.2rem;
  font-family: inherit;
  background-color: var(--header-text-color);
  color: var(--header-background-color);
  padding: 1rem 1.5rem;
  border-radius: 1rem;
  border: none;
}
